# Default owners for everything in the repo

# Core application code
/lib/ @Purukitto

# Configuration files
*.json @Purukitto
*.dart @Purukitto
*.yaml @Purukitto
*.config.* @Purukitto

# Documentation
*.md @Purukitto

# GitHub workflows
/.github/ @Purukitto

# Mobile platform code
/android/ @Purukitto
/ios/ @Purukitto
